*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 10em;
    background-color: #5f9ea0;
}

main {
    border: 1px solid #5f9ea0;
    max-width: 600px;
    min-width: 300px;
    border-radius: .5em;
    background: #ffffff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: .7em 0;
    text-align: center;
    text-transform: capitalize;
}

label, #input-field {
    display: block;
    margin-bottom: .7em;
}

#input-field {
    width: 50%;
    padding: .5em;
    outline: none;
    border: 1px solid #a3a2a2;
    border-radius: .3em;
}
    
#input-field:active,
#input-field:focus {
    outline: 2px solid #5f9ea0;
    border: 1px solid #5f9ea0;
}

.pick {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}

.what {
    margin-bottom: 1em;
    text-transform: capitalize;
}



.options-wrapper input {
    
}


.options-wrapper img {
    width: 50px;
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
}

.selected-currency-name {
    text-align: center;
}

.icon {
    margin-top: 1em;
}

.fa-exchange {
    transition: .5s;
}
.fa-exchange:hover,
.fa-exchange:focus {
    color: #5f9ea0;
}

.fa-exchange:active {
    color: #113031;
}

.country-input {
    border: none;
    width: 100%;
    height: inherit;
    padding: .5em;
    margin: 0;
    border-radius: .3em;
}

.country-input:active,
.country-input:focus {
    outline: none;
}

.options-wrapper {
    display: flex;
    border: 1px solid #a3a2a2;
    border-radius: .3em;
    margin-bottom: .5em;
}

.options-wrapper:active,
.options-wrapper:focus,
.options-wrapper:hover {
    outline: 2px solid #5f9ea0;
    border: 1px solid #5f9ea0;
}