@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f9ea0;
    height: 100vh;
}

main {
    border: 1px solid #5f9ea0;
    max-width: 600px;
    min-width: 300px;
    border-radius: .5em;
    background: #ffffff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px -2px 19px -5px rgba(0,0,0,0.62);
    -webkit-box-shadow: 1px -2px 19px -5px rgba(0,0,0,0.62);
    -moz-box-shadow: 1px -2px 19px -5px rgba(0,0,0,0.62);
    margin-left: 1em;
    margin-right: 1em;
}

h2 {
    margin: .7em 0;
    text-align: center;
    text-transform: capitalize;
}

label, #input-field {
    display: block;
    margin-bottom: .7em;
}

#input-field {
    width: 50%;
    padding: .5em;
    outline: none;
    border: 1px solid #a3a2a2;
    border-radius: .3em;
}
    
#input-field:active,
#input-field:focus {
    border: 1px solid rgba(0,0,0,0.42);
    box-shadow: 1px -2px 17px -5px rgba(0,0,0,0.42);
    -webkit-box-shadow: 1px -2px 17px -5px rgba(0,0,0,0.42);
    -moz-box-shadow: 1px -2px 17px -5px rgba(0,0,0,0.42);
}

.pick {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}

.what {
    margin-bottom: 1em;
    text-transform: capitalize;
}

.options-wrapper img {
    width: 50px;
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
    margin-top: 0;
    margin-bottom: 0;
}

.selected-currency-name {
    text-align: center;
}

.icon {
    margin-bottom: 1em;
}

/* .fa-exchange {
    transition: .5s;
}
.fa-exchange:hover,
.fa-exchange:focus {
    color: #5f9ea0;
}

.fa-exchange:active {
    color: #113031;
} */

.country-input {
    border: none;
    width: 100%;
    height: inherit;
    padding: .5em;
    margin: 0;
    border-radius: .3em;
    text-transform: capitalize;
}

.country-input:active,
.country-input:focus {
    outline: none;
}

.options-wrapper {
    display: flex;
    border: 1px solid #a3a2a2;
    border-radius: .3em;
    margin-bottom: .5em;
}

.options-wrapper:active,
.options-wrapper:focus,
.options-wrapper:hover
 { 
    border: 1px solid rgba(0,0,0,0.42);
    box-shadow: 1px -2px 17px -5px rgba(0,0,0,0.42);
    -webkit-box-shadow: 1px -2px 17px -5px rgba(0,0,0,0.42);
    -moz-box-shadow: 1px -2px 17px -5px rgba(0,0,0,0.42);
}

.country {
    display: none;
    opacity: 0;
    width: 40%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


.main.active .country {
    display: block;
    opacity: 1;
}

.country-select {
    height: 10rem;
    overflow-y: auto;
    overflow-x: auto;
    line-height: 2;
    text-transform: capitalize;
}

.country-select li:hover {
    background: #f7f5f5;
    cursor: pointer;
}

.country-select::-webkit-scrollbar {
    width: 5px;
    height: 2.5px;
}

.country-select::-webkit-scrollbar-thumb {
    background: #5f9ea0;
}

.country-select::-webkit-scrollbar-thumb:hover {
    background: #113031;
}

.country-select::-webkit-scrollbar-track {
    background: #f7f5f5;
}

.country p {
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: #113031;
}

.country li {
    list-style: none;
}
.code {
    display: inline;
}

.tag-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exchangerate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: .3em;
}

.convert-btn {
    margin-top: 1em;
    padding: .5em 3em;
    text-transform: capitalize;
    background: #5f9ea0;
    border: 1px solid #5f9ea0;
    border-radius: .2em;
    color: #fff;
    transition: .5s;
}

.convert-btn:hover {
    background-color: #113031;
    border: 1px solid #113031;
    box-shadow: 1px -2px 17px -5px rgba(0,0,0,0.42);
    -webkit-box-shadow: 1px -2px 17px -5px rgba(0,0,0,0.42);
    -moz-box-shadow: 1px -2px 17px -5px rgba(0,0,0,0.42);
}

.dim {
    color: rgba(0,0,0,0.7);
    font-size: .7rem;
}

.from-exchange,
.to-exchange {
    font-size: .85rem;
}